//- appAdd.jade
extends ../_templates/mainPageTemplate.jade

block username
    span #{pageData.username}

block bodyContent

    div.row
        div.col-md-12
            h1 Create App
            form(method="post", action="/spaces/apps/add", id="formAppAdd")
                input(type="hidden", name="space_guid", id="space_guid", value="#{pageData.space_guid}")
                div.form-group
                    label.sr-only(for='appname') Application name
                    input.form-control(type="text", id="appname", name="appname", placeholder="Application name")
                div.form-group
                    label.radio-inline
                        input(type="radio", id="buildpack", name="buildpack", value="https://github.com/cloudfoundry/staticfile-buildpack" checked="checked").
                        span.
                            Static 
                    label.radio-inline
                        input(type="radio", id="buildpack", name="buildpack", value="https://github.com/cloudfoundry/nodejs-buildpack")
                        span.
                            Node.js
                    label.radio-inline
                        input(type="radio", id="buildpack", name="buildpack", value="https://github.com/cloudfoundry/java-buildpack")
                        span.
                            Java
                    label.radio-inline
                        input(type="radio", id="buildpack", name="buildpack", value="https://github.com/cloudfoundry/php-buildpack")
                        span.
                            PHP  
                    label.radio-inline
                        input(type="radio", id="buildpack", name="buildpack", value="https://github.com/cloudfoundry/python-buildpack")
                        span.
                            Python 
                                                    
                div.form-group
                    button.btn.btn-primary(type="submit") 
                        span.glyphicon.glyphicon-ok
                        |  Submit

                    span  
                    a.btn.btn-default(href="/spaces/#{pageData.space_guid}/apps", role="button")
                        span.glyphicon.glyphicon-arrow-left
                        |  Back                                          

block bodyScripts

    script(type='text/javascript').

        $("#formAppAdd").submit(function( event ) {

            var appName = $("#appname").val();
            if (appName.match(/^[a-z0-9]{5,10}$/)) {
                return true;
            }else {
                alert("Your app uses a bad name.\nPattern: [a-z0-9]{5,15}");
            }

            event.preventDefault();
        });