//- appAdd.jade
extends ../_templates/mainPageTemplate.jade

block bodyContent

    div.pageAppView
        h1 Applications
        div.row
            div.col-md-12
                table.table.table-hover
                    thead
                        tr
                            th Log
                    tbody(id="result")
                        tr
                            td #{pageData.log}
                p
                    a.btn.btn-primary(href="/apps", role="button")
                        span.glyphicon.glyphicon-arrow-left.
                            Back
                    span  
                    a.btn.btn-default(href="/apps/log/#{pageData.guid}", role="button")
                        span.glyphicon.glyphicon-arrow-left.
                            Refresh                                


