//- appLog.jade
extends ../_templates/mainPageTemplate.jade

block username
    span #{pageData.username}

block bodyContent

    div.row
        div.col-md-12
            h1 Applications
            div.row
                div.col-md-12
                    table.table.table-hover
                        thead
                            tr
                                th Log
                        tbody(id="result")
                            tr
                                td 
                                    pre #{pageData.log}
                    p
                        a.btn.btn-primary(href="/apps/#{pageData.guid}", role="button")
                            span.glyphicon.glyphicon-arrow-left
                            |  Back
                        span  
                        a.btn.btn-default(href="/apps/#{pageData.guid}/log", role="button")
                            span.glyphicon.glyphicon-refresh
                            |  Refresh                                


