//- appUpload.jade
extends ../_templates/mainPageTemplate.jade

block bodyContent

    div(id="pageAppView")
        h1 Applications
        div.row
            div.col-md-12
                table.table.table-hover
                    thead
                        tr
                            th Field
                            th Value
                    tbody(id="result")

                p
                    a.btn.btn-primary(href="/apps", role="button")
                        span.glyphicon.glyphicon-arrow-left.
                            Back

block bodyScripts

    script(src='/Scripts/Apps.js')
    script(type='text/javascript').

        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };

        $( document ).ready(function() {
            var apps = new Apps();
            var app_guid = getUrlParameter("app_guid");
            apps.viewApp(app_guid);
        });
