//- loginError.jade
extends ../_templates/baseTemplate.jade

block bodyContent
    br
    div.alert.alert-danger(role="alert") Bad credentials
    p
        span.
            Please, try to 
        a(href="/auth/") login 
        span.
            again.
