//- login.jade
extends ../_templates/baseTemplate.jade

block bodyContent
    div.pageLogin
        form.form-signin(method="post", action="/auth/login")
            h2.form-signin-heading Please sign in
            label.sr-only(for='endpoint') API Endpoint
            input.form-control(type="text", id="endpoint", name="endpoint", placeholder="https://api.run.pivotal.io", required, autofocus)
            label.sr-only(for='username') Username
            input.form-control(type="text", id="username", name="username", placeholder="Username", required)
            label.sr-only(for='password') Password
            input.form-control(type="password", id="password", name="password", placeholder="Password", required )
            button.btn.btn-lg.btn-primary.btn-block(type='submit', id="btnLoginSubmit") Sign in

