//- mainPageTemplate.jade
extends ./baseTemplate.jade

block navContent
    div.collapse.navbar-collapse(id="navbar")
        ul.nav.navbar-nav(id="mainNavBar")
            //
                li.dropdown
                    a.dropdown-toggle( href="#", id="btnHome", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false" ) Applications 
                        span.caret                            
                    ul.dropdown-menu
                        li
                            a(href="/apps/" id="btnApps") Get Applications
                        li.divider(role="separator")
                        li
                            a(href="/apps/add" id="btnAppCreate") Create a new Application 
            //
                li.dropdown
                    a.dropdown-toggle( href="#", id="btnHome", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false" ) Services 
                        span.caret                            
                    ul.dropdown-menu
                        li
                            a(href="/services/") User provided services
                        li.divider(role="separator")
                        li
                            a(href="/services/bindings/") Service binding 

        ul.nav.navbar-nav.navbar-right(id="mainNavBar2")
            li
                a(href="#")
                    block username
            li
                a(href="/auth/logout" id="btnLogout") Logout

block bodyContent

block bodyScripts